@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply w-full h-full m-0 prose dark:prose-invert max-w-none;
  }

  body {
    @apply min-h-full w-full m-0 grid place-items-center;
  }

  * {
    @apply box-border;
  }
}

@define-mixin btn $color {
  /* @mixin-content; */

  .btn-$(color) {
    --tw-border-opacity: 1;
    border-color: theme("colors.$color.DEFAULT" / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: theme("colors.$color.DEFAULT" / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    /* TODO: Fix `color` */
    color: hsl(var(--pc) / var(--tw-text-opacity));

    &.btn-active,
    &:hover {
      --tw-border-opacity: 1;
      border-color: theme("colors.$color.accent" / var(--tw-border-opacity));
      --tw-bg-opacity: 1;
      background-color: theme("colors.$color.accent" / var(--tw-bg-opacity));
    }

    &:focus-visible {
      outline: 2px solid theme("colors.$color.DEFAULT");
    }
  }
}

@layer components {
  .flashcard-hidden {
    @apply opacity-0 translate-y-10 pointer-events-none -z-10;
  }

  .btn-icon {
    @apply p-1 h-fit;
    svg {
      @apply w-12 h-12;
    }
  }

  @mixin btn terrible;
  @mixin btn bad;
  @mixin btn ok;
  @mixin btn good;
  @mixin btn perfect;
}
